<h2> Employee list</h2>
<br>
<form class="d-flex">
    <div class="form-group">
    <label class="mb-2"> <b> Search an employee </b> </label>
    <input (input)="filterEmployees(search.value)" class="form-control mb-3" type="search" style="width: 300px; margin-right: 10px;" placeholder="Enter name" aria-label="Search" #search>
    <!-- <button class="primary" type="button" (click)="filterEmployees(search.value)">Search</button> !-->
    </div>
</form>
  
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Employee ID</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email </th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees" >
        <th scope="row">{{employee.id}}</th>
        <td>{{employee.lastname}}</td>
        <td>{{employee.firstname}}</td>
        <td>{{employee.email}}</td>
        <td>
        <button (click)="viewEmployee(employee.id)" type="button" class="btn btn-info" style="margin-right: 10px;">View</button>
        <button (click)="updateEmployee(employee.id)" type="button" class="btn btn-primary">Edit</button>
        <button (click)="deleteEmployee(employee.id)" type="button" class="btn btn-danger" style="margin-left: 10px;">Remove</button>
      </td>
      </tr>
    </tbody>
</table>